.topbarContainer {
  height: 70px;
  width: 100%;
  background-color: #a27587;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 26px;
  margin-left: 20px;
  font-weight: bold;
  color: #fffafa;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchBar {
  width: 100%;
  height: 30px;
  background-color: #fffafa;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fffafa;
}
.topbarLink {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: #fffafa;
  position: absolute;
  top: -5px;
  right: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 1px;
}

.topbarImg {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.menu {
  display: none;
  color: #fffafa;
  cursor: pointer;
}

.smallSearch {
  display: none;
}

@media screen and (max-width: 992px) {
  .searchBar,
  .topbarIconItem,
  .topbarImg {
    display: none;
  }
  .menu {
    display: block;
    margin-right: 20px;
  }
  .topbarLink {
    margin-right: 60px;
  }
  .smallSearch {
    display: block;
    margin-left: 20px;
  }
  .searchIcon {
    background-color: #fffafa;
    padding: 5px;
    border-radius: 30px;

    margin-left: 15px;
  }
}
